@import "tailwindcss";

@theme {
  --color-sarsara-blue: #334692;
  --color-sarsara-yellow: #FFD460;
  --font-display: "Myriad Variable Concept", sans-serif;
  --font-body: "Helvetica Neue", sans-serif;
}

@layer base {
  html {
    scroll-behavior: smooth;
  }

  body {
    font-family: var(--font-body);
    @apply antialiased;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-display);
  }
}